/* TODO: Move transitions to react? */
.backdrop {
	/* TODO: add fade in */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 10;
	opacity: 0;
	background: rgba(0, 0, 0, 0.5);
	pointer-events: none;
	transition-duration: 1s;
	transition-property: opacity;
}

.activeBackdrop {
	opacity: 1;
}

.drawer {
	position: fixed;
	height: 100%;
	left: 100%;
	width: 460px;
	z-index: 100;
	background-color: white;

	/* transition-property: opacity; */
	transition-duration: 1s;
	transition-property: transform;
}

.active {
	transform: translateX(-100%);
	/* opacity: 1; */
}

.classButtons {
	display: flex;
	margin: 0.5em 0 var(--SECTION__MARGIN) 1em;
}

.classButtons__cancelClass,
.classButtons__editClass {
	height: 1.8em;
	width: 1.8em;
	margin-right: 3em;
}

.classButtons__editClass {
	background-image: url("../images/edit.svg");
}

.classButtons__cancelClass {
	background-image: url("../images/cancelClass.svg");
	color: var(--RED);
}

.classButtons__buttonText {
	display: flex;
	align-items: center;
	margin-left: 2.3em;
	white-space: nowrap;
	font-size: 0.85rem;
}

.workoutOfTheDay {
	margin-bottom: var(--SECTION__MARGIN);
	text-align: center;
}

.zumbaIcon {
	background-image: url("../images/workoutOfTheDay.png");
	background-size: 4em 4em;
	height: 5em;
	width: 5em;
	background-color: pink;
	border-radius: 50%;
	margin: 0em auto 0.7em;
}

.classInformation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: var(--SECTION__MARGIN) 5em;
	text-align: center;
}

.classInformation__coachIcon,
.classInformation__startTimeIcon,
.classInformation__participantsIcon {
	height: 2.5em;
	width: 2.5em;
	margin: 0 auto 1.1em;
}

.classInformation__coachIcon {
	background-image: url("../images/coach.svg");
}

.classInformation__startTimeIcon {
	background-image: url("../images/startTime.svg");
}

.classInformation__participantsIcon {
	background-image: url("../images/participants.svg");
}

.classInformation__text {
	margin-top: 0.2em;
}

.youShouldKnow {
	margin: var(--SECTION__MARGIN) 3em;
}

.youShouldKnowText {
	margin-top: 1em;
}

.dropDownSection {
	position: relative;
	margin: var(--SECTION__MARGIN) 3em;
}

.dropDown {
	position: absolute;
	top: 0%;
	right: 0%;
	display: flex;
	flex-direction: column;
}

.dropDown__stateButton {
	text-align: left;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dropDown__plus {
	text-align: right;
	font-size: 1.5rem;
	font-weight: lighter;
}

.dropDown__stateButton,
.dropDown__client {
	width: 13em;
	height: 2.3em;
	padding: 0 0.5em 0 0.5em;
}

.dropDown__client:hover,
.dropDown__client:active {
	background-color: lightgreen;
}

.dropDown__clients {
	box-shadow: 0px 0px 2px 2px rgba(180, 180, 180, 0.2);
}

.dropDown__client {
	display: flex;
	align-items: center;
	background-color: white;
	border: none;
}

.clientImage {
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin-right: 0.7em;
}

@media (max-width: 540px) {
	.drawer {
		width: 85%;
	}

	.dropDown__stateButton,
	.dropDown__client {
		width: 8em;
		padding: 0 0.3em 0 0.3em;
	}

	.youShouldKnow,
	.dropDownSection {
		margin: var(--SECTION__MARGIN) 1.5em;
	}

	.classInformation {
		margin: var(--SECTION__MARGIN) 2.5em;
	}
}
