.participants {
	display: flex;
	align-items: center;
	gap: 1em;
	margin: 1.5em var(--SIDES__MARGIN);
	white-space: nowrap;
}

.participantImage {
	border-radius: 50%;
	width: 36px;
	height: 36px;
}
.participantName {
	width: 40%;
}

.checkInButton {
	background-color: var(--GREEN);
	border: 2px var(--GREEN) solid;
	color: white;
	border-radius: 4px;
	padding: 0.45em 1.3em;
	margin-right: 1em;
	font-size: 1.1rem;
}

.checkInButton.active {
	background-color: white;
	color: var(--GREEN);
}

.callButton,
.deleteButton {
	width: 1.8em;
	height: 1.8em;
}

.callButton {
	/* TODO: Change to whatsapp icon */
	background-image: url("../images/call.svg");
}

.deleteButton {
	background-image: url("../images/delete.svg");
}

@media (max-width: 540px) {
	.participants {
		gap: 0.5em;
		margin: 1.5em;
		white-space: pre-wrap;
		font-size: 0.9rem;
	}

	.participantName {
		width: 30%;
	}

	.checkInButton {
		padding: 0.45em 0.9em;
		font-size: 1rem;
	}
}
