.participant {
	display: flex;
	align-items: center;
	gap: 0.5em;
	margin: 1.2em var(--SIDES-MARGIN);
	white-space: nowrap;
}

.participantImage {
	border-radius: 50%;
	width: 2.2em;
	height: 2.2em;
	margin-right: 0.3em;
}

.participantName {
	width: 30%;
	font-weight: bold;
}

.checkInButton {
	background-color: var(--GREEN);
	border: var(--BORDER-GREEN);
	border-radius: var(--BORDER-RADIUS);
	color: white;
	padding: 0.35em 1.2em;
	margin-right: 3em;
}

.checkInButton.active {
	background-color: white;
	color: var(--GREEN);
}

.checkInButton:hover,
.checkInButton:active,
.deleteButton:hover,
.deleteButton:active,
.callButton:hover,
.callButton:active {
	transform: scale(1.05);
}

.callButton,
.deleteButton {
	width: 1.7em;
	height: 1.7em;
}

.callButton {
	background-image: url("../images/UI/whatsapp.svg");
}

.deleteButton {
	background-image: url("../images/UI/delete.svg");
}

@media (max-width: 540px) {
	.participant {
		gap: 0.25em;
		margin: 1em var(--SIDES-MARGIN-PHONE);
		white-space: pre-wrap;
	}

	.participantName {
		width: 25%;
	}

	.checkInButton {
		padding: 0.4em 0.6em;
		margin-right: 2em;
	}
}
