:root {
	/* FONTS */
	--FF: Arial, Helvetica, sans-serif;
	--FS: clamp(0.65rem, 1.95vh, 1.2rem);

	/* COLORS */
	--RED: #ff0b37;
	--GREEN: #05c050;
	--LIGHT-GREEN: #eefbef;

	/* BORDER */
	--BORDER-SIZE: 2px;
	--BORDER-GREEN: var(--BORDER-SIZE) var(--GREEN) solid;
	--BORDER-RADIUS: 4px;

	/* MARGIN */
	--SECTION-MARGIN: 1.8em;
	--SIDES-MARGIN: 2.25em;
	--SIDES-MARGIN-PHONE: 1.5em;
}
