:root {
	/* FONTS */
	--FF: Arial, Helvetica, sans-serif;
	--FS: clamp(0.65rem, 1.95vh, 1.2rem);

	/* COLORS */
	--RED: #ff0b37;
	--GREEN: #05c050;
	--LIGHT-GREEN: #eefbef;

	/* MARGIN */
	--SECTION__MARGIN: 1.8em;
	--SIDES__MARGIN: 2.25em;
	--SIDES__MARGIN__PHONE: 1.5em;
}
